In [1]:
# import required libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

### 1. Data Read and Understanding

In [2]:
# loading the data
telecom_df = pd.read_csv("telecom_churn_data.csv")

In [3]:
# checking top 5 rows
telecom_df.head(5)

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,...,0,1.0,1.0,1.0,NaN,968,30.4,0.0,101.20,3.58
1,7001865778,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.047,...,0,NaN,1.0,1.0,NaN,1006,0.0,0.0,0.00,0.00
2,7001625959,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,167.690,...,0,NaN,NaN,NaN,1.0,1103,0.0,0.0,4.17,0.00
3,7001204172,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,221.338,...,0,NaN,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00
4,7000142493,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.636,...,0,0.0,NaN,NaN,NaN,1526,0.0,0.0,0.00,0.00

In [4]:
# checking the dimensions
telecom_df.shape

(99999, 226)

In [5]:
# inspecting the data info
telecom_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Columns: 226 entries, mobile_number to sep_vbc_3g
dtypes: float64(179), int64(35), object(12)
memory usage: 172.4+ MB

In [6]:
# expand the info details of the data
telecom_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Data columns (total 226 columns):
 #    Column                    Dtype
---   ------                    -----
 0    mobile_number             int64
 1    circle_id                 int64
 2    loc_og_t2o_mou            float64
 3    std_og_t2o_mou            float64
 4    loc_ic_t2o_mou            float64
 5    last_date_of_month_6      object
 6    last_date_of_month_7      object
 7    last_date_of_month_8      object
 8    last_date_of_month_9      object
 9    arpu_6                    float64
 10   arpu_7                    float64
 11   arpu_8                    float64
 12   arpu_9                    float64
 13   onnet_mou_6               float64
 14   onnet_mou_7               float64
 15   onnet_mou_8               float64
 16   onnet_mou_9               float64
 17   offnet_mou_6              float64
 18   offnet_mou_7              float64
 19   offnet_mou_8              float64
 20   offnet_mou_9              float64
 21   roam_ic_mou_6             float64
 22   roam_ic_mou_7             float64
 23   roam_ic_mou_8             float64
 24   roam_ic_mou_9             float64
 25   roam_og_mou_6             float64
 26   roam_og_mou_7             float64
 27   roam_og_mou_8             float64
 28   roam_og_mou_9             float64
 29   loc_og_t2t_mou_6          float64
 30   loc_og_t2t_mou_7          float64
 31   loc_og_t2t_mou_8          float64
 32   loc_og_t2t_mou_9          float64
 33   loc_og_t2m_mou_6          float64
 34   loc_og_t2m_mou_7          float64
 35   loc_og_t2m_mou_8          float64
 36   loc_og_t2m_mou_9          float64
 37   loc_og_t2f_mou_6          float64
 38   loc_og_t2f_mou_7          float64
 39   loc_og_t2f_mou_8          float64
 40   loc_og_t2f_mou_9          float64
 41   loc_og_t2c_mou_6          float64
 42   loc_og_t2c_mou_7          float64
 43   loc_og_t2c_mou_8          float64
 44   loc_og_t2c_mou_9          float64
 45   loc_og_mou_6              float64
 46   loc_og_mou_7              float64
 47   loc_og_mou_8              float64
 48   loc_og_mou_9              float64
 49   std_og_t2t_mou_6          float64
 50   std_og_t2t_mou_7          float64
 51   std_og_t2t_mou_8          float64
 52   std_og_t2t_mou_9          float64
 53   std_og_t2m_mou_6          float64
 54   std_og_t2m_mou_7          float64
 55   std_og_t2m_mou_8          float64
 56   std_og_t2m_mou_9          float64
 57   std_og_t2f_mou_6          float64
 58   std_og_t2f_mou_7          float64
 59   std_og_t2f_mou_8          float64
 60   std_og_t2f_mou_9          float64
 61   std_og_t2c_mou_6          float64
 62   std_og_t2c_mou_7          float64
 63   std_og_t2c_mou_8          float64
 64   std_og_t2c_mou_9          float64
 65   std_og_mou_6              float64
 66   std_og_mou_7              float64
 67   std_og_mou_8              float64
 68   std_og_mou_9              float64
 69   isd_og_mou_6              float64
 70   isd_og_mou_7              float64
 71   isd_og_mou_8              float64
 72   isd_og_mou_9              float64
 73   spl_og_mou_6              float64
 74   spl_og_mou_7              float64
 75   spl_og_mou_8              float64
 76   spl_og_mou_9              float64
 77   og_others_6               float64
 78   og_others_7               float64
 79   og_others_8               float64
 80   og_others_9               float64
 81   total_og_mou_6            float64
 82   total_og_mou_7            float64
 83   total_og_mou_8            float64
 84   total_og_mou_9            float64
 85   loc_ic_t2t_mou_6          float64
 86   loc_ic_t2t_mou_7          float64
 87   loc_ic_t2t_mou_8          float64
 88   loc_ic_t2t_mou_9          float64
 89   loc_ic_t2m_mou_6          float64
 90   loc_ic_t2m_mou_7          float64
 91   loc_ic_t2m_mou_8          float64
 92   loc_ic_t2m_mou_9          float64
 93   loc_ic_t2f_mou_6          float64
 94   loc_ic_t2f_mou_7          float64
 95   loc_ic_t2f_mou_8          float64
 96   loc_ic_t2f_mou_9          float64
 97   loc_ic_mou_6              float64
 98   loc_ic_mou_7              float64
 99   loc_ic_mou_8              float64
 100  loc_ic_mou_9              float64
 101  std_ic_t2t_mou_6          float64
 102  std_ic_t2t_mou_7          float64
 103  std_ic_t2t_mou_8          float64
 104  std_ic_t2t_mou_9          float64
 105  std_ic_t2m_mou_6          float64
 106  std_ic_t2m_mou_7          float64
 107  std_ic_t2m_mou_8          float64
 108  std_ic_t2m_mou_9          float64
 109  std_ic_t2f_mou_6          float64
 110  std_ic_t2f_mou_7          float64
 111  std_ic_t2f_mou_8          float64
 112  std_ic_t2f_mou_9          float64
 113  std_ic_t2o_mou_6          float64
 114  std_ic_t2o_mou_7          float64
 115  std_ic_t2o_mou_8          float64
 116  std_ic_t2o_mou_9          float64
 117  std_ic_mou_6              float64
 118  std_ic_mou_7              float64
 119  std_ic_mou_8              float64
 120  std_ic_mou_9              float64
 121  total_ic_mou_6            float64
 122  total_ic_mou_7            float64
 123  total_ic_mou_8            float64
 124  total_ic_mou_9            float64
 125  spl_ic_mou_6              float64
 126  spl_ic_mou_7              float64
 127  spl_ic_mou_8              float64
 128  spl_ic_mou_9              float64
 129  isd_ic_mou_6              float64
 130  isd_ic_mou_7              float64
 131  isd_ic_mou_8              float64
 132  isd_ic_mou_9              float64
 133  ic_others_6               float64
 134  ic_others_7               float64
 135  ic_others_8               float64
 136  ic_others_9               float64
 137  total_rech_num_6          int64
 138  total_rech_num_7          int64
 139  total_rech_num_8          int64
 140  total_rech_num_9          int64
 141  total_rech_amt_6          int64
 142  total_rech_amt_7          int64
 143  total_rech_amt_8          int64
 144  total_rech_amt_9          int64
 145  max_rech_amt_6            int64
 146  max_rech_amt_7            int64
 147  max_rech_amt_8            int64
 148  max_rech_amt_9            int64
 149  date_of_last_rech_6       object
 150  date_of_last_rech_7       object
 151  date_of_last_rech_8       object
 152  date_of_last_rech_9       object
 153  last_day_rch_amt_6        int64
 154  last_day_rch_amt_7        int64
 155  last_day_rch_amt_8        int64
 156  last_day_rch_amt_9        int64
 157  date_of_last_rech_data_6  object
 158  date_of_last_rech_data_7  object
 159  date_of_last_rech_data_8  object
 160  date_of_last_rech_data_9  object
 161  total_rech_data_6         float64
 162  total_rech_data_7         float64
 163  total_rech_data_8         float64
 164  total_rech_data_9         float64
 165  max_rech_data_6           float64
 166  max_rech_data_7           float64
 167  max_rech_data_8           float64
 168  max_rech_data_9           float64
 169  count_rech_2g_6           float64
 170  count_rech_2g_7           float64
 171  count_rech_2g_8           float64
 172  count_rech_2g_9           float64
 173  count_rech_3g_6           float64
 174  count_rech_3g_7           float64
 175  count_rech_3g_8           float64
 176  count_rech_3g_9           float64
 177  av_rech_amt_data_6        float64
 178  av_rech_amt_data_7        float64
 179  av_rech_amt_data_8        float64
 180  av_rech_amt_data_9        float64
 181  vol_2g_mb_6               float64
 182  vol_2g_mb_7               float64
 183  vol_2g_mb_8               float64
 184  vol_2g_mb_9               float64
 185  vol_3g_mb_6               float64
 186  vol_3g_mb_7               float64
 187  vol_3g_mb_8               float64
 188  vol_3g_mb_9               float64
 189  arpu_3g_6                 float64
 190  arpu_3g_7                 float64
 191  arpu_3g_8                 float64
 192  arpu_3g_9                 float64
 193  arpu_2g_6                 float64
 194  arpu_2g_7                 float64
 195  arpu_2g_8                 float64
 196  arpu_2g_9                 float64
 197  night_pck_user_6          float64
 198  night_pck_user_7          float64
 199  night_pck_user_8          float64
 200  night_pck_user_9          float64
 201  monthly_2g_6              int64
 202  monthly_2g_7              int64
 203  monthly_2g_8              int64
 204  monthly_2g_9              int64
 205  sachet_2g_6               int64
 206  sachet_2g_7               int64
 207  sachet_2g_8               int64
 208  sachet_2g_9               int64
 209  monthly_3g_6              int64
 210  monthly_3g_7              int64
 211  monthly_3g_8              int64
 212  monthly_3g_9              int64
 213  sachet_3g_6               int64
 214  sachet_3g_7               int64
 215  sachet_3g_8               int64
 216  sachet_3g_9               int64
 217  fb_user_6                 float64
 218  fb_user_7                 float64
 219  fb_user_8                 float64
 220  fb_user_9                 float64
 221  aon                       int64
 222  aug_vbc_3g                float64
 223  jul_vbc_3g                float64
 224  jun_vbc_3g                float64
 225  sep_vbc_3g                float64
dtypes: float64(179), int64(35), object(12)
memory usage: 172.4+ MB

In [7]:
# describe the numercial columns
telecom_df.describe()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,arpu_6,arpu_7,arpu_8,arpu_9,onnet_mou_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
count,9.999900e+04,99999.0,98981.0,98981.0,98981.0,99999.000000,99999.000000,99999.000000,99999.000000,96062.000000,...,99999.000000,25153.000000,25571.000000,26339.000000,25922.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000
mean,7.001207e+09,109.0,0.0,0.0,0.0,282.987358,278.536648,279.154731,261.645069,132.395875,...,0.084581,0.914404,0.908764,0.890808,0.860968,1219.854749,68.170248,66.839062,60.021204,3.299373
std,6.956694e+05,0.0,0.0,0.0,0.0,328.439770,338.156291,344.474791,341.998630,297.207406,...,0.650457,0.279772,0.287950,0.311885,0.345987,954.733842,267.580450,271.201856,253.938223,32.408353
min,7.000000e+09,109.0,0.0,0.0,0.0,-2258.709000,-2014.045000,-945.808000,-1899.505000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,180.000000,0.000000,0.000000,0.000000,0.000000
25%,7.000606e+09,109.0,0.0,0.0,0.0,93.411500,86.980500,84.126000,62.685000,7.380000,...,0.000000,1.000000,1.000000,1.000000,1.000000,467.000000,0.000000,0.000000,0.000000,0.000000
50%,7.001205e+09,109.0,0.0,0.0,0.0,197.704000,191.640000,192.080000,176.849000,34.310000,...,0.000000,1.000000,1.000000,1.000000,1.000000,863.000000,0.000000,0.000000,0.000000,0.000000
75%,7.001812e+09,109.0,0.0,0.0,0.0,371.060000,365.344500,369.370500,353.466500,118.740000,...,0.000000,1.000000,1.000000,1.000000,1.000000,1807.500000,0.000000,0.000000,0.000000,0.000000
max,7.002411e+09,109.0,0.0,0.0,0.0,27731.088000,35145.834000,33543.624000,38805.617000,7376.710000,...,49.000000,1.000000,1.000000,1.000000,1.000000,4337.000000,12916.220000,9165.600000,11166.210000,2618.570000

### 2. Data Cleaning and Preparation

In [8]:
# check for null values
telecom_df.isnull().sum()

mobile_number        0
circle_id            0
loc_og_t2o_mou    1018
std_og_t2o_mou    1018
loc_ic_t2o_mou    1018
                  ...
aon                  0
aug_vbc_3g           0
jul_vbc_3g           0
jun_vbc_3g           0
sep_vbc_3g           0
Length: 226, dtype: int64

In [9]:
# capturing the telecom data missing values to do further analysis
telecom_values_missing = telecom_df.isnull().mean()*100
telecom_values_missing

mobile_number     0.00000
circle_id         0.00000
loc_og_t2o_mou    1.01801
std_og_t2o_mou    1.01801
loc_ic_t2o_mou    1.01801
                   ...
aon               0.00000
aug_vbc_3g        0.00000
jul_vbc_3g        0.00000
jun_vbc_3g        0.00000
sep_vbc_3g        0.00000
Length: 226, dtype: float64

In [10]:
# filtering only columns which have missing values more than 0
telecom_values_missing = telecom_values_missing[telecom_values_missing > 0]
telecom_values_missing

loc_og_t2o_mou           1.018010
std_og_t2o_mou           1.018010
loc_ic_t2o_mou           1.018010
last_date_of_month_7     0.601006
last_date_of_month_8     1.100011
                          ...
night_pck_user_9        74.077741
fb_user_6               74.846748
fb_user_7               74.428744
fb_user_8               73.660737
fb_user_9               74.077741
Length: 166, dtype: float64

In [11]:
# Identifying the columns with missing values >30%
telecom_values_missing_30 = telecom_values_missing[telecom_values_missing>30]
telecom_values_missing_30

date_of_last_rech_data_6    74.846748
date_of_last_rech_data_7    74.428744
date_of_last_rech_data_8    73.660737
date_of_last_rech_data_9    74.077741
total_rech_data_6           74.846748
total_rech_data_7           74.428744
total_rech_data_8           73.660737
total_rech_data_9           74.077741
max_rech_data_6             74.846748
max_rech_data_7             74.428744
max_rech_data_8             73.660737
max_rech_data_9             74.077741
count_rech_2g_6             74.846748
count_rech_2g_7             74.428744
count_rech_2g_8             73.660737
count_rech_2g_9             74.077741
count_rech_3g_6             74.846748
count_rech_3g_7             74.428744
count_rech_3g_8             73.660737
count_rech_3g_9             74.077741
av_rech_amt_data_6          74.846748
av_rech_amt_data_7          74.428744
av_rech_amt_data_8          73.660737
av_rech_amt_data_9          74.077741
arpu_3g_6                   74.846748
arpu_3g_7                   74.428744
arpu_3g_8                   73.660737
arpu_3g_9                   74.077741
arpu_2g_6                   74.846748
arpu_2g_7                   74.428744
arpu_2g_8                   73.660737
arpu_2g_9                   74.077741
night_pck_user_6            74.846748
night_pck_user_7            74.428744
night_pck_user_8            73.660737
night_pck_user_9            74.077741
fb_user_6                   74.846748
fb_user_7                   74.428744
fb_user_8                   73.660737
fb_user_9                   74.077741
dtype: float64

### As the above columns have missing values greater than 30%, we can drop them

In [12]:
#fetch the column names to be dropped
telecom_values_missing_30.index

Index(['date_of_last_rech_data_6', 'date_of_last_rech_data_7',
       'date_of_last_rech_data_8', 'date_of_last_rech_data_9',
       'total_rech_data_6', 'total_rech_data_7', 'total_rech_data_8',
       'total_rech_data_9', 'max_rech_data_6', 'max_rech_data_7',
       'max_rech_data_8', 'max_rech_data_9', 'count_rech_2g_6',
       'count_rech_2g_7', 'count_rech_2g_8', 'count_rech_2g_9',
       'count_rech_3g_6', 'count_rech_3g_7', 'count_rech_3g_8',
       'count_rech_3g_9', 'av_rech_amt_data_6', 'av_rech_amt_data_7',
       'av_rech_amt_data_8', 'av_rech_amt_data_9', 'arpu_3g_6', 'arpu_3g_7',
       'arpu_3g_8', 'arpu_3g_9', 'arpu_2g_6', 'arpu_2g_7', 'arpu_2g_8',
       'arpu_2g_9', 'night_pck_user_6', 'night_pck_user_7', 'night_pck_user_8',
       'night_pck_user_9', 'fb_user_6', 'fb_user_7', 'fb_user_8', 'fb_user_9'],
      dtype='object')

In [13]:
columns_to_drop = telecom_values_missing_30.index

In [14]:
# Drop the columns with more than 30% missing values
telecom_df = telecom_df.drop(columns=columns_to_drop)

In [15]:
# revalidate the shape of telecom dataframe post drop
telecom_df.shape

(99999, 186)

In [16]:
#Analyse the missing values again in the cleaned dataframe
telecom_df.isnull().mean()*100

mobile_number     0.00000
circle_id         0.00000
loc_og_t2o_mou    1.01801
std_og_t2o_mou    1.01801
loc_ic_t2o_mou    1.01801
                   ...
aon               0.00000
aug_vbc_3g        0.00000
jul_vbc_3g        0.00000
jun_vbc_3g        0.00000
sep_vbc_3g        0.00000
Length: 186, dtype: float64

In [17]:
# capturing the telecom data missing values to do further analysis
telecom_values_missing = telecom_df.isnull().mean()*100
telecom_values_missing

# filtering only columns which have missing values more than 0
telecom_values_missing = telecom_values_missing[telecom_values_missing > 0]
telecom_values_missing

# Identifying the columns with missing values >10%
telecom_values_missing_10 = telecom_values_missing[telecom_values_missing>10]
telecom_values_missing_10

Series([], dtype: float64)

### Since there are no columns now with more than 10% missing values we can handle these data

#### Check if there are columns with one unique value since it won't be beneficial our analysis

In [18]:
telecom_df.nunique()

mobile_number     99999
circle_id             1
loc_og_t2o_mou        1
std_og_t2o_mou        1
loc_ic_t2o_mou        1
                  ...
aon                3489
aug_vbc_3g        14676
jul_vbc_3g        14162
jun_vbc_3g        13312
sep_vbc_3g         3720
Length: 186, dtype: int64

### Since there are few columns which have one unique values, lets drop it

In [19]:
# lets find the columns that have only 1 unique value and drop such columns
unique_1_col=[]
for i in telecom_df.columns:
    if telecom_df[i].nunique() == 1:
        unique_1_col.append(i)
    else:
        pass

telecom_df.drop(unique_1_col, axis=1, inplace = True)
print("Columns dropped are -> \n", unique_1_col)

Columns dropped are ->
 ['circle_id', 'loc_og_t2o_mou', 'std_og_t2o_mou', 'loc_ic_t2o_mou', 'last_date_of_month_6', 'last_date_of_month_7', 'last_date_of_month_8', 'last_date_of_month_9', 'std_og_t2c_mou_6', 'std_og_t2c_mou_7', 'std_og_t2c_mou_8', 'std_og_t2c_mou_9', 'std_ic_t2o_mou_6', 'std_ic_t2o_mou_7', 'std_ic_t2o_mou_8', 'std_ic_t2o_mou_9']

In [20]:
# re-analyzing the unique columns
telecom_df.nunique()

mobile_number    99999
arpu_6           85681
arpu_7           85308
arpu_8           83615
arpu_9           79937
                 ...
aon               3489
aug_vbc_3g       14676
jul_vbc_3g       14162
jun_vbc_3g       13312
sep_vbc_3g        3720
Length: 170, dtype: int64

In [21]:
# check shape of dataset again
telecom_df.shape

(99999, 170)

#### Handling Missing Values

In [22]:
# capturing the telecom data missing values to do further analysis
telecom_values_missing = telecom_df.isnull().mean()*100
telecom_values_missing

# filtering only columns which have missing values more than 0
telecom_values_missing = telecom_values_missing[telecom_values_missing > 0]
telecom_values_missing

onnet_mou_6            3.937039
onnet_mou_7            3.859039
onnet_mou_8            5.378054
onnet_mou_9            7.745077
offnet_mou_6           3.937039
                         ...
ic_others_9            7.745077
date_of_last_rech_6    1.607016
date_of_last_rech_7    1.767018
date_of_last_rech_8    3.622036
date_of_last_rech_9    4.760048
Length: 112, dtype: float64

In [23]:
# analyze the column datatype again
telecom_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Data columns (total 170 columns):
 #    Column               Dtype
---   ------               -----
 0    mobile_number        int64
 1    arpu_6               float64
 2    arpu_7               float64
 3    arpu_8               float64
 4    arpu_9               float64
 5    onnet_mou_6          float64
 6    onnet_mou_7          float64
 7    onnet_mou_8          float64
 8    onnet_mou_9          float64
 9    offnet_mou_6         float64
 10   offnet_mou_7         float64
 11   offnet_mou_8         float64
 12   offnet_mou_9         float64
 13   roam_ic_mou_6        float64
 14   roam_ic_mou_7        float64
 15   roam_ic_mou_8        float64
 16   roam_ic_mou_9        float64
 17   roam_og_mou_6        float64
 18   roam_og_mou_7        float64
 19   roam_og_mou_8        float64
 20   roam_og_mou_9        float64
 21   loc_og_t2t_mou_6     float64
 22   loc_og_t2t_mou_7     float64
 23   loc_og_t2t_mou_8     float64
 24   loc_og_t2t_mou_9     float64
 25   loc_og_t2m_mou_6     float64
 26   loc_og_t2m_mou_7     float64
 27   loc_og_t2m_mou_8     float64
 28   loc_og_t2m_mou_9     float64
 29   loc_og_t2f_mou_6     float64
 30   loc_og_t2f_mou_7     float64
 31   loc_og_t2f_mou_8     float64
 32   loc_og_t2f_mou_9     float64
 33   loc_og_t2c_mou_6     float64
 34   loc_og_t2c_mou_7     float64
 35   loc_og_t2c_mou_8     float64
 36   loc_og_t2c_mou_9     float64
 37   loc_og_mou_6         float64
 38   loc_og_mou_7         float64
 39   loc_og_mou_8         float64
 40   loc_og_mou_9         float64
 41   std_og_t2t_mou_6     float64
 42   std_og_t2t_mou_7     float64
 43   std_og_t2t_mou_8     float64
 44   std_og_t2t_mou_9     float64
 45   std_og_t2m_mou_6     float64
 46   std_og_t2m_mou_7     float64
 47   std_og_t2m_mou_8     float64
 48   std_og_t2m_mou_9     float64
 49   std_og_t2f_mou_6     float64
 50   std_og_t2f_mou_7     float64
 51   std_og_t2f_mou_8     float64
 52   std_og_t2f_mou_9     float64
 53   std_og_mou_6         float64
 54   std_og_mou_7         float64
 55   std_og_mou_8         float64
 56   std_og_mou_9         float64
 57   isd_og_mou_6         float64
 58   isd_og_mou_7         float64
 59   isd_og_mou_8         float64
 60   isd_og_mou_9         float64
 61   spl_og_mou_6         float64
 62   spl_og_mou_7         float64
 63   spl_og_mou_8         float64
 64   spl_og_mou_9         float64
 65   og_others_6          float64
 66   og_others_7          float64
 67   og_others_8          float64
 68   og_others_9          float64
 69   total_og_mou_6       float64
 70   total_og_mou_7       float64
 71   total_og_mou_8       float64
 72   total_og_mou_9       float64
 73   loc_ic_t2t_mou_6     float64
 74   loc_ic_t2t_mou_7     float64
 75   loc_ic_t2t_mou_8     float64
 76   loc_ic_t2t_mou_9     float64
 77   loc_ic_t2m_mou_6     float64
 78   loc_ic_t2m_mou_7     float64
 79   loc_ic_t2m_mou_8     float64
 80   loc_ic_t2m_mou_9     float64
 81   loc_ic_t2f_mou_6     float64
 82   loc_ic_t2f_mou_7     float64
 83   loc_ic_t2f_mou_8     float64
 84   loc_ic_t2f_mou_9     float64
 85   loc_ic_mou_6         float64
 86   loc_ic_mou_7         float64
 87   loc_ic_mou_8         float64
 88   loc_ic_mou_9         float64
 89   std_ic_t2t_mou_6     float64
 90   std_ic_t2t_mou_7     float64
 91   std_ic_t2t_mou_8     float64
 92   std_ic_t2t_mou_9     float64
 93   std_ic_t2m_mou_6     float64
 94   std_ic_t2m_mou_7     float64
 95   std_ic_t2m_mou_8     float64
 96   std_ic_t2m_mou_9     float64
 97   std_ic_t2f_mou_6     float64
 98   std_ic_t2f_mou_7     float64
 99   std_ic_t2f_mou_8     float64
 100  std_ic_t2f_mou_9     float64
 101  std_ic_mou_6         float64
 102  std_ic_mou_7         float64
 103  std_ic_mou_8         float64
 104  std_ic_mou_9         float64
 105  total_ic_mou_6       float64
 106  total_ic_mou_7       float64
 107  total_ic_mou_8       float64
 108  total_ic_mou_9       float64
 109  spl_ic_mou_6         float64
 110  spl_ic_mou_7         float64
 111  spl_ic_mou_8         float64
 112  spl_ic_mou_9         float64
 113  isd_ic_mou_6         float64
 114  isd_ic_mou_7         float64
 115  isd_ic_mou_8         float64
 116  isd_ic_mou_9         float64
 117  ic_others_6          float64
 118  ic_others_7          float64
 119  ic_others_8          float64
 120  ic_others_9          float64
 121  total_rech_num_6     int64
 122  total_rech_num_7     int64
 123  total_rech_num_8     int64
 124  total_rech_num_9     int64
 125  total_rech_amt_6     int64
 126  total_rech_amt_7     int64
 127  total_rech_amt_8     int64
 128  total_rech_amt_9     int64
 129  max_rech_amt_6       int64
 130  max_rech_amt_7       int64
 131  max_rech_amt_8       int64
 132  max_rech_amt_9       int64
 133  date_of_last_rech_6  object
 134  date_of_last_rech_7  object
 135  date_of_last_rech_8  object
 136  date_of_last_rech_9  object
 137  last_day_rch_amt_6   int64
 138  last_day_rch_amt_7   int64
 139  last_day_rch_amt_8   int64
 140  last_day_rch_amt_9   int64
 141  vol_2g_mb_6          float64
 142  vol_2g_mb_7          float64
 143  vol_2g_mb_8          float64
 144  vol_2g_mb_9          float64
 145  vol_3g_mb_6          float64
 146  vol_3g_mb_7          float64
 147  vol_3g_mb_8          float64
 148  vol_3g_mb_9          float64
 149  monthly_2g_6         int64
 150  monthly_2g_7         int64
 151  monthly_2g_8         int64
 152  monthly_2g_9         int64
 153  sachet_2g_6          int64
 154  sachet_2g_7          int64
 155  sachet_2g_8          int64
 156  sachet_2g_9          int64
 157  monthly_3g_6         int64
 158  monthly_3g_7         int64
 159  monthly_3g_8         int64
 160  monthly_3g_9         int64
 161  sachet_3g_6          int64
 162  sachet_3g_7          int64
 163  sachet_3g_8          int64
 164  sachet_3g_9          int64
 165  aon                  int64
 166  aug_vbc_3g           float64
 167  jul_vbc_3g           float64
 168  jun_vbc_3g           float64
 169  sep_vbc_3g           float64
dtypes: float64(132), int64(34), object(4)
memory usage: 129.7+ MB

#### As we see date type fields like date_of_last_rech_* is of type object, lets convert it to date type

In [24]:
# selecting all the columns with datetime format
date_col= telecom_df.select_dtypes(include=['object'])
print("Date columns are -> \n",date_col.columns)

# Converting the selected columns to datetime format
for i in date_col.columns:
    telecom_df[i] = pd.to_datetime(telecom_df[i])

Date columns are ->
 Index(['date_of_last_rech_6', 'date_of_last_rech_7', 'date_of_last_rech_8',
       'date_of_last_rech_9'],
      dtype='object')

### Now for missing values for date_of_last_rech_* we can impute value as 0 which would imply that the customer has not done any recharge yet

In [25]:
# Handling missing values with respect to `data recharge` attributes
telecom_df[['last_day_rch_amt_6','date_of_last_rech_6','total_rech_num_6','total_rech_amt_6','max_rech_amt_6']].head(10)

,last_day_rch_amt_6,date_of_last_rech_6,total_rech_num_6,total_rech_amt_6,max_rech_amt_6
0,252,2014-06-21,4,362,252
1,44,2014-06-29,4,74,44
2,0,2014-06-17,5,168,86
3,30,2014-06-28,10,230,60
4,50,2014-06-26,5,196,56
5,120,2014-06-19,2,120,120
6,37,2014-06-28,15,499,90
7,0,2014-06-27,5,1580,1580
8,50,2014-06-25,19,437,90
9,110,2014-06-29,4,220,110